{
  "extends": "react-app",
  "rules": {
    "no-control-regex": 0,
    "@typescript-eslint/no-unused-vars": ["warn", {
      "args": "none",
      "varsIgnorePattern": "^_"
    }],
    "@typescript-eslint/no-inferrable-types": "error"
  },

  "ignorePatterns": ["node_modules", "build", "coverage"]
}
