.helpSelect {
    border-bottom: 0.2mm solid white !important;
}

.helpSelect:hover {
    border-bottom: 0.2mm solid #e9e9e9 !important;
}

.isHidden {
    visibility: hidden;
}

.isRedBG {
    background-color: var(--pf-v5-global--danger-color--100);
}

.isInformation {
    background: var(--pf-v5-global--info-color--100);
}

:global(.pf-v5-c-data-list__item.pf-m-expanded).expandedResult {
    background-color: floralwhite;
}

:global(.pf-v5-c-data-list__item.pf-m-expanded).expandedTestsuite {
    background-color: oldlace;
}

.sstNVR {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statusPassed {
    color: var(--pf-v5-global--palette--white);
    background: var(--pf-v5-global--success-color--100);
    width: auto;
    padding-left: 0.5em;
}
.statusInfo {
    color: var(--pf-v5-global--warning-color--100);
    background: var(--pf-v5-global--warning-color--200);
    width: auto;
    padding-left: 0.5em;
}
.statusFailed {
    color: var(--pf-v5-global--palette--white);
    background: var(--pf-v5-global--danger-color--100);
    width: auto;
    padding-left: 0.5em;
}
.statusOther {
    color: var(--pf-v5-global--info-color--200);
    background: var(--pf-v5-global--info-color--100);
    width: auto;
    padding-left: 0.5em;
}

.ciSystemsList {
    border-bottom: var(--pf-v5-c-data-list__item--BorderBottomWidth) solid #f5f5f5 !important;
}

.allCISystems {
    border-top: var(--pf-v5-c-data-list__item--BorderTopWidth) solid #f5f5f5 !important;
}

.wDBConfig {
    border-bottom: hidden;
}

/* that will remove the text from the button’s layout, and allow you to manually position the text somewhere
 */
.waive {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1;
}

/* https://www.w3schools.com/cssref/css_selectors.asp */
.actionButton:global(.pf-v5-c-button) {
    padding-top: 0;
    padding-bottom: 0;
}

.pageHeaderNav {
    /* Stretch the horizontal navbar in page header over the available space. */
    flex: 1 1 auto;
}

/*
 * https://github.com/patternfly/patternfly/issues/2177
 */
:global(
        .pf-v5-c-data-list__item.pf-m-expanded
            .issue_2177
            .pf-v5-c-data-list__toggle-icon
    ) {
    transform: none;
}

dl.buildInfo {
    column-gap: var(--pf-v5-global--spacer--xl);
    row-gap: var(--pf-v5-global--spacer--sm);
}

.commitHash,
.timestamp {
    --pf-v5-c-description-list__description--FontSize: 0.85em;
    font-size: 0.85em;
    font-family: monospace;
}

/*
 * Next style is used to shadow icon
 * All string up to { is a selector.
 * Selector says:
 * Some element above must have class .giveHint
 * Some element must have global class .pf-c-table__toggle
 * Some element must have class .pf-c-button:not(.pf-m-expanded)
 * > -- says must be follow immediatelly
 * Some element must be svg
 */
.withHint {
    --pf-v5-c-table--BorderColor: var(--pf-v5-global--BackgroundColor--200);
}

.withHint:hover {
    --pf-v5-c-table--BorderColor: var(--pf-v5-global--disabled-color--200);
}

.withHint:hover
    :global(.pf-v5-c-table__toggle > .pf-v5-c-button:not(.pf-m-expanded))
    svg {
    color: var(--pf-v5-global--link--Color);
    box-shadow: var(--pf-v5-global--BoxShadow--lg);
}

.artifactsTable {
    --pf-v5-c-table--BackgroundColor: transparent !important;
}

.metadataTable {
    --pf-v5-c-table--BackgroundColor: transparent !important;
}

.artifactsTable :global(.pf-m-expanded) {
    background: var(--pf-v5-global--BackgroundColor--100);
}

.helpSelect:hover
    :global(.pf-v5-c-data-list__toggle > .pf-v5-c-button:not(.pf-m-expanded))
    svg {
    color: var(--pf-v5-global--link--Color);
    box-shadow: var(--pf-v5-global--BoxShadow--lg);
}

:global(.example-border .pf-v5-l-flex) {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

:global(.pf-v5-c-page__header-nav .pf-v5-c-nav) {
    /* Stretch the horizontal navbar in page header over the available space. */
    flex: 1 1 auto;
}

:global(abbr[title]),
:global(time[title]) {
    text-decoration: underline dotted var(--pf-v5-global--Color--200) 2px;
}
