.helpSelect {
    border-bottom: var(--pf-c-data-list__item--BorderBottomWidth) solid #f5f5f5 !important;
}

.helpSelect:hover {
    border-bottom: var(--pf-c-data-list__item--BorderBottomWidth) solid
        var(--pf-global--active-color--100) !important;
}

.isHidden {
    visibility: hidden;
}

.isRedBG {
    background-color: var(--pf-global--danger-color--100);
}

.isInformation {
    background: var(--pf-global--info-color--100);
}

:global(.pf-c-data-list__item.pf-m-expanded).expandedResult {
    background-color: floralwhite;
}

:global(.pf-c-data-list__item.pf-m-expanded).expandedTestsuite {
    background-color: oldlace;
}

.sstNVR {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.statusPassed {
    color: var(--pf-global--success-color--200);
    background: var(--pf-global--success-color--100);
    width: auto;
}
.statusInfo {
    color: var(--pf-global--warning-color--100);
    background: var(--pf-global--warning-color--200);
    width: auto;
}
.statusFailed {
    color: var(--pf-global--danger-color--300);
    background: var(--pf-global--danger-color--100);
    width: auto;
}
.statusOther {
    color: var(--pf-global--info-color--200);
    background: var(--pf-global--info-color--100);
    width: auto;
}

.ciSystemsList {
    border-bottom: var(--pf-c-data-list__item--BorderBottomWidth) solid #f5f5f5 !important;
}

.allCISystems {
    border-top: var(--pf-c-data-list__item--BorderTopWidth) solid #f5f5f5 !important;
}

.wDBConfig {
    border-bottom: hidden;
}

/* that will remove the text from the button’s layout, and allow you to manually position the text somewhere
 */
.waive {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1;
}

/* https://www.w3schools.com/cssref/css_selectors.asp */
.actionButton:global(.pf-c-button.pf-m-control) {
    padding-top: 0px;
    padding-bottom: 0px;
}

.pageHeaderNav {
    /* Stretch the horizontal navbar in page header over the available space. */
    flex: 1 1 auto;
}

/*
 * https://github.com/patternfly/patternfly/issues/2177
 */
:global(.pf-c-data-list__item.pf-m-expanded
        .issue_2177
        .pf-c-data-list__toggle-icon) {
    transform: none;
}

.buildInfoCommitHash,
.buildInfoTimestamp {
    font-size: 0.85em;
    font-family: monospace;
}

/*
 * Next style is used to shadow icon
 * All string up to { is a selector.
 * Selector says:
 * Some element above must have class .giveHint
 * Some element must have global class .pf-c-table__toggle
 * Some element must have class .pf-c-button:not(.pf-m-expanded)
 * > -- says must be follow immediatelly
 * Some element must be svg
 */
.withHint {
    --pf-c-table--BorderColor: var(--pf-global--BackgroundColor--200);
}

.withHint:hover {
    --pf-c-table--BorderColor: var(--pf-global--disabled-color--200);
}

.withHint:hover
    :global(.pf-c-table__toggle > .pf-c-button:not(.pf-m-expanded))
    svg {
    color: var(--pf-global--link--Color);
    box-shadow: var(--pf-global--BoxShadow--lg);
}

.helpSelect:hover
    :global(.pf-c-data-list__toggle > .pf-c-button:not(.pf-m-expanded))
    svg {
    color: var(--pf-global--link--Color);
    box-shadow: var(--pf-global--BoxShadow--lg);
}

:global(.example-border .pf-l-flex) {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

:global(.pc-c-page__header-nav .pf-c-nav) {
    /* Stretch the horizontal navbar in page header over the available space. */
    flex: 1 1 auto;
}
